.container {
  margin: 50px auto;
  width: 98%;
}

.card {
  margin: 20px 2% !important;
}

.Active {
  border-bottom: 10px solid rgb(0, 6, 36);
}

.infected {
  border-bottom: 10px solid rgb(255, 0, 0);
}

.recovered {
  border-bottom: 10px solid rgb(0, 128, 0);
}

.deaths {
  border-bottom: 10px solid rgb(37, 35, 35);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ParentPosition {
  position: relative;
}

.childPosition {
  position: absolute;
  right: 20px;
  top: 50px;
}
